*.iml
.gradle
/local.properties
.idea/*
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
analytics/analytics_feature/build/*
analytics/data/build/*
analytics/domain/build/*
analytics/presentation/build/*
app/build/*
auth/data/build/*
auth/domain/build/*
auth/presentation/build/*
build-logic/convention/build/*
core/connectivity/build/*
core/data/build/*
core/database/build/*
core/domain/build/*
core/notification/build/*
core/presentation/build/*
run/data/build/*
run/domain/build/*
run/location/build/*
run/network/build/*
run/presentation/build/*